# -------- Python --------
.venv/
__pycache__/
*.pyc

# -------- R --------
.Rhistory
.RData
.Ruserdata

# renv (if you use it)
renv/library/
renv/staging/

# -------- Outputs --------
results/
*.sscore
*.bed
*.bim
*.fam
*.pgen
*.pvar
*.psam

# -------- System --------
.DS_Store

# -------- IDE --------
.vscode/
.idea/